*{
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

h1{
    padding: 30px;
}

#slider{
    margin: auto;
    width: 500px;
    height: 300px;
    overflow: hidden;

}

#slider ul{
    position: relative;
    width: 500%; /* Because there are 5 images*/
    height: 100%;
    animation: 20s slider infinite;
    display: flex;
}

#slider ul img{
    float: left;
    width: 100%; /* 500% / 5 images */
    height: 100%;
}



li{
    align-items: center;
    list-style: none;
    width: 100vw;
    width: 100vh;
}

@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
