*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#selector{
    text-align: center;
    margin-top: 60px;
}


.top-menu{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: yellowgreen;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

ul{
    list-style: none;
    color: black;
}

li{
    padding: 20px 5px;
}

a{
    text-decoration:none;
    color: black;
}

a:hover{
    color:white;
}

.subnav{
    display:none;
}

li:hover .subnav{
    display:block;
    position:absolute;
    background: yellowgreen;
    margin-top: 0;
    margin-left: 100px;
}

h2{
    margin: 30px;
}

input{
    background-color:  rgb(221, 250, 179);
    border: 1px solid orange;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

input:hover{
    background-color: white;
}